<!-- @if (themes.length > 0) {
    @for (theme of themes; track theme._id) {
        <div  class="theme-container">
            <h3>{{theme.themeName}}</h3>

            <p>Creator: {{theme.userId.username}}</p>

            <p>Subscribers: {{theme.subscribers.length}}</p>

            <p>Created: {{theme.created_at}}</p>
        </div>
    }
} @else {
  <p>No themes yet!</p>
} -->
<main>
    <div class="theme-title">
        @if (themes.length > 0) {
        @for (theme of themes; track theme._id) {
        <!-- theme component  -->
        <div class="theme-container">
            <div class="theme-name-wrapper">
                <div class="theme-name">
                    <a href="#" class="normal">
                        <h2>{{theme.themeName}}</h2>
                    </a>
                    <div class="columns">
                        <div>
                            <p>Date: <time>{{theme.created_at}}</time></p>
                            <div class="nick-name">
                                <p>Username: <span>{{theme.userId.username}}</span></p>
                            </div>
                        </div>
                        <div class="subscribers">
                            @if (userService.isLoggedIn()) {
                                @if (!isSubscribed(theme)) {
                                    <button class="subscribe" (click)="subscribe(theme)">Subscribe</button>
                                } @else {
                                    <button class="unsubscribe" (click)="unsubscribe(theme)">Unsubscribe</button>
                                }
                            }
                            <p>Subscribers: <span>{{theme.subscribers.length}}</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        }
        } @else {
        <p>No themes yet!</p>
        }
    </div>
</main>